
// color scheme
$white:#FFF;
$isabelline:#ECECEC;
$lightgray: #D1D1D1;
$smockyblack:#0C0910;
$granitegray:#646266;
$quicksilver:#A6A5A8;

// Font size
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

// Font weight
$f-regular: 400;
$f-black: 700;

//breackponts
$breakpoint-lg: 800px;