
//*{border:1px solid red;}
.main{

    &__newsletter{
        background-color: $smockyblack;
        color:$white;
        position:relative;
    }
    &__form{
        padding: 1em 8em 1em 8em ;

        label {
            display: block;
            margin-bottom: 0.5rem;
        }
        input {
            padding: 0.5em;
            width: 100%;
            border:0;
            border-radius: 0;
            &::placeholder{
                font-family: "raleway";
            }
        }
    }
    &__subscription{
        position: absolute;
        top:0;
        right: 0;
        height: 100%;
        text-align: center;
        padding:1rem;
        background-color: $white;
        color:$smockyblack;
        writing-mode: vertical-rl;
        font-weight: 700;
        font-family:'old standatd tt';
        font-size: $x-large;
    }

}

